<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>How To</title>
  </head>
  <body>
    <h3>How to Query the API</h3>
    <p>The API hosts a scikit learn model that takes a JSON object containing all necessary features to make a prediction. All features are required or it will break.</p>
    <p>If queried, the request must be a GET request with a application/json content.</p>
    <p>The body of the request must be like this: {"FIEBRE":"1.0","TOS":"1.0","ODINOFAGIA":"0.0","DISNEA":"0.0","IRRITABILIDAD":"0.0","DIARREA":"0.0","DOLOR_TORACICO":"1.0","ESCALOFRIOS":"1.0","CEFALEA":"1.0","MIALGIAS":"1.0","ARTRALGIAS":"1.0","ATQ_GENERAL":"1.0","RINORREA":"0.0","POLIPNEA":"0.0","VOMITO":"0.0","DOLOR_ABDOMINAL":"0.0","CONJUNTIVITIS":"1.0","CIANOSIS":"0.0","INICIO_SUBITO":"0.0","CONTACTO_OTROS":"1.0"} </p>
    <p>For the above mentioned request the response should be {"MISSING_FEATURES": false,"PREDICTED": 0}</p>
    <p>All responses will have two elements:</p>
    <ul>
      <li>PREDICTED - 1 indicates a probable SARS-CoV-2 infection, 0 indicates a probable SARS-CoV-2 negative infection.</li>
      <li>MISSING_DATA - whether or not the received request was missing any feature data</li>
    </ul>
  </body>
</html>
